*{
    vertical-align: middle;
    font-family: cursive;
    user-select: none;

}
.container{
    margin: auto;
    padding: auto;
    /* height: 450x; */
    border-radius: 10px;
    width: 600px;
    background-color: whitesmoke;
}
table{
    border-collapse: collapse;
}
.join {
    padding: 12px 0 10px 30px;
}
.subscription{
    background-color: rgb(81, 180, 187);
    border-bottom-left-radius: 10px;
}
.whyus{
    border-bottom-right-radius: 10px;
    background-color: rgb(76, 211, 221);
}
.subscription, .whyus{
    width: 300px;
    padding-left: 30px;
    padding-bottom: 30px;
    border: collapse;
    /* height: 190px; */
}
strong{
    font-size: 30px;
    font-weight: normal; 
}
.btn{
    width: 90%;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: large;
    border: 0ch;
    /* box-shadow: 20px solid gray;  */
    background-color: rgb(191, 231, 13);
}
.btn a{
    color:white ;
    text-decoration: none;
}
.btn:hover{
    background-color:rgb(170, 206, 13) ;
}
