*{
        margin: 0%;
    padding: 0%;
}
.bg-img{
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.navbar{
    height: 75px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.navbar .logo{
    padding: 10px 40px;
}
.navbar ul{
    float: right;
    margin: 20px;

}
.navbar ul li{
    display: inline-block;
    margin: 0 5px;
}
.navbar ul li a{
    padding: 5px 10px;
}
a{
    text-decoration: none;
    color: white;
    font-family: serif;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background-color: red;
    border-radius: 3%;
}
.content {
    text-align: center;
    padding-top: 15%;     
}
.btn{
    padding: 10px;
    margin: 10px;
    background-color: red;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
}


