.container{
    height: 850px;
    width: 1440px;
    background-image: url('../p3/images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;           
    background-color: rgba(196, 13, 241, 0.4);
    margin:0 auto ;
    border: 2px solid black;
    display: flex;
    font-family: cursive;
    padding: 30px;
}
.left{
    width:63% ;
    padding-right: 30px;
}
.right{
    width: 37%; 
    margin-top: 160px;
    margin-bottom: 10px;
    margin-right: 30px;
    padding-left: 30px;
}
a {
    text-decoration: none;
    font-size: 25px;
    color: grey;
}
button{
    border-radius: 25px;
    height: 70px;
    width: 250px;
    background-color: white;
    margin: 5px;
    padding: 7px 40px;
}
.media{
    margin-top: 230px;
}
.media img{
    height: 50px;
    width: 50px;
    margin: 5px;
    float: right;
    color: white;
}
.logo{
    float: left;
}
.illustration{
    height: auto;
    width: 100%;
    margin-top: 100px;
}
h1{
    font-size: 40px;
}
p{
    font-size:25px;
}
